// COLOR VARIABLES
$color-primary: #437fb1;
$color-primary-dark: #3a668b;

$color-secondary: #1e3b56;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #294f74;
$color-grey-dark-2: #36699a;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;
