@use "../../styles/variables" as *;
@use "../../styles/global" as *;

.header {
  background-color: $color-grey-dark-1;
  grid-column: full-start/col-end 6;
  background-image: linear-gradient(
      rgba($color-primary-dark, 0.93),
      rgba($color-primary-dark, 0.93)
    ),
    url(../../assets/image/story-24.jpg);
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;

  display: grid;
  grid-template-rows: 1fr 1.5fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  grid-row-gap: 1.5rem;
  justify-content: center;

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 / -1;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 5rem;
  }

  &__logo {
    color: #fff;
    justify-self: center;
  }

  &__heading-2 {
    font-size: 3.2rem;
    color: $color-grey-light-1;
  }

  &__nav {
    display: flex;
    justify-self: center;
    gap: 3rem;
  }

  &__btn {
    align-self: start;
    justify-self: start;
  }

  &__skills {
    &-text {
      font-size: 1.6rem;
      color: #fff;

      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-column-gap: 1.5rem;
      align-items: center;

      &::before,
      &::after {
        content: "";
        height: 1px;
        display: block;
        background-color: currentColor;
      }
    }
    &-logos {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 3rem;
      justify-items: center;
      align-items: center;
    }
    &-icon {
      max-width: 4rem;
      max-height: 4rem;
      filter: invert(100%) sepia(0%) saturate(7460%) hue-rotate(32deg)
        brightness(115%) contrast(97%);
    }
  }
}
