@use "../../styles/variables" as *;

.features {
  grid-column: center-start/center-end;

  margin: 15rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem;
  align-items: start;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;

  &__icon {
    filter: invert(48%) sepia(56%) saturate(487%) hue-rotate(165deg)
      brightness(86%) contrast(88%);
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem);
  }

  &__heading {
    text-align: left;
  }

  &__text {
    font-size: 1.7rem;
    text-align: left;
  }
}
